run = "pip install -r requirements.txt && python bot.py"
language = "python3"
entrypoint = "bot.py"
hidden = [".env", ".config", "**/__pycache__", "**/.mypy_cache", "**/*.pyc"]

[env]
PYTHONUNBUFFERED = "1"

[nix]
channel = "stable-22_11"

[packager]
ignoredPackages = ["discord.py[voice]"]

[packager.features]
packageSearch = true
guessImports = true

[unitTest]
language = "python3"

[languages.python3]
pattern = "**/*.py"
syntax = "python"

[languages.python3.languageServer]
start = ["pylsp"]

[deployment]
run = ["sh", "-c", "pip install -r requirements.txt && python bot.py"]
deploymentTarget = "cloudrun"
